@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@font-face {
	font-family: "genshinFont";
	src: url("/zh-cn.ttf") format("truetype");
}
body {
	@apply overflow-x-hidden;
}
* {
	@apply font-genshin;
	box-sizing: border-box;
}
.modern-gradient {
	background-image: conic-gradient(
		from 0deg at -57% 8% in oklch,
		oklch(75% 0.5 156) 0%,
		43%,
		oklch(70% 0.5 261) 88% 100%
	);
}
.navLink {
	@apply text-sm px-7 py-4 text-white hover:bg-blue-300 hover:text-zinc-900 font-extralight h-full transition-all;
}

.flex-center {
	@apply flex items-center justify-center;
}
.aqua-button {
	@apply text-[12px] px-12 py-3 rounded-full bg-blue-300 text-black mr-4 font-extralight  tracking-[2px] hover:bg-white transition-all;
}
